# Cache des ressources statiques
<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresDefault "access plus 1 year"
  Header append Cache-Control "public"
</IfModule>

<IfModule mod_expires.c>
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/gif "access plus 1 year"
  ExpiresByType image/svg+xml "access plus 1 year"
  ExpiresByType image/x-icon "access plus 1 year"
</IfModule>
