// Colors
$primary: hsla(240, 95%, 8%, 100%);
$secondary: hsla(46, 65%, 52%, 100%);
$white: hsl(0, 0%, 100%);

// Typography
$font: "Space Grotesk", sans-serif;

$font-weight: (
        light: 300,
        regular: 400,
        medium: 500,
        semibold: 600,
        bold: 700,
);

// Spacing
$wrapper: 20px;

// Grid params
$container: 1280px;
$grid-columns: 12;
$grid-gap: 20px;

// Breakpoints
$breakpoints: (
        xs: 575px,
        sm:767px,
        md: 991px,
        lg: 1199px,
        xl: 1439px,
        xxl: 10000px,
        custom: 1045px
);
