.hamburger {

  position: fixed;
  top: 25px;
  right: 30px;
  width: 48px;
  height: 48px;
  z-index: 100;
  background: none;
  border: none;
  cursor: pointer;
  visibility: hidden;

  &__line {

    background-color: $white;
    height: 2px;
    width: 100%;
    position: absolute;
    right: 0;
    transform-origin: right;
    transition: 0.3s ease;

    &--1 {

      top: 33%;
      transform: scaleX(0.5);

    }

    &--2 {

      top: 66%;

    }

    .menu--open & {

      background: $white;

      &--1 {

        transform: rotate(45deg);
        top: 85%;

      }

      &--2 {

        transform: rotate(-45deg);
        top: 15%;

      }
    }
  }

  @media screen and (max-width: map-get($breakpoints, "md")) {

    visibility: visible;

  }
}

.display-menu {

  height: 100%;
  background-color: $primary;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: displayMenu 0.2s linear forwards;

}

@keyframes displayMenu {

  0% {

    bottom: 100%;

  }

  100% {

    bottom: 0;

  }
}
