.hero {
  height: 100vh;
  color: $white;
  background-color: $primary;
  position: relative;

  .about {
    grid-column: 1 / span 6;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 30px;

    h2 {
      width: calc(100% - 190px);
    }

    p {
      width: calc(100% - 50px);
    }
  }

  &__push-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid $white;
    background: transparent;
    position: absolute;
    bottom: clamp(30px, 7.5vw, 75px);
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease;
    z-index: 500;

    svg {
      width: 50%;
      pointer-events: none;
    }

    &:hover {
      scale: 1.05;
      border-color: $secondary;
    }
  }

  .container-mascotte-md {
    width: 525px;
    height: 100%;
    position: absolute;
    right: 0;
    overflow: hidden;

  }

  .container-mascotte-lg {
    width: 852px;
    height: 100%;
    position: absolute;
    right: 0;
    overflow: hidden;

  }

  @media screen and (max-width: map-get($breakpoints, "md")) {
    display: flex;

    .about {
      justify-content: center;
      text-align: center;
      z-index: 50;

      h2 {
        width: 100%;
      }

      p {
        width: 100%;
      }

      a {
        align-self: center;
        scale: 0.9;
      }
    }

    &__push-link {
      position: initial;
      transform: initial;
      margin: 0;
    }

    .container-mascotte-md {
      bottom: 0;
    }
  }
}

.skills {
  background: $white;
  color: $primary;
  padding-top: 120px;
  height: fit-content;

  @media screen and (max-width: map-get($breakpoints, "md")) {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.projects {
  height: auto;
  padding-top: 120px;
  padding-bottom: 120px;

  @media screen and (max-width: map-get($breakpoints, "md")) {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
